@import url("./css/changelog.css");
@import url("./css/clients.css");
@import url("./css/demo.css");
@import url("./css/endcta.css");
@import url("./css/footer.css");
@import url("./css/frontier.css");
@import url("./css/hero.css");
@import url("./css/joinus.css");
@import url("./css/navbar.css");
@import url("./css/recents.css");
@import url("./css/testimonials.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* colors */
    --color-bg-primary: #14120b;
    --color-bg-secondary: #1b1912;
    --color-text-primary: #ececec;
    --color-text-secondary: #13120a;
    --color-text-tertiary: #999894;
    --color-border-primary: #34332c;
    --color-boarder-secondary: #201e17;
    --color-anchor: #f54e00;

    /* spacing */
    --space-1: 0.5rem;
    --space-2: 0.75rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2.5rem;
    --space-6: 4rem;

    /* layout */
    --inline-padding-body: clamp(1rem, 6vw, 4rem);
    --logo-width: clamp(5rem, 8vw, 6rem);
    --img-size-full: 100%;
    --img-size-mid: 60%;
    --img-size-small: 40%;

    /* font */

    --main-font:
        system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* others */
    --font-size-small: 0.85rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2rem;
    --font-size-xxlarge: 2.5rem;

    --border-radius-small: 0.25rem;
    --border-radius-mid: 0.3rem;
    --border-radius-inf: 9999px;
}


body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--main-font);
    padding-inline: var(--inline-padding-body);
}

button {
    padding: var(--space-1) var(--space-2);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius-inf);
    background-color: transparent;
    color: inherit;

    &:hover {
        cursor: pointer;
    }
}

