* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --color-bg-primary: #14120b;
    --color-bg-secondary: #1b1912;
    --color-text-primary: #ececec;
    --color-text-secondary: #13120a;
    --color-text-tertiary: #d7d6d5;
    --color-text-faint: #999894;
    --color-border-primary: #34332c;
    --color-border-secondary: #201e17;
    --color-anchor: #f54e00;

    /* spacing */
    --space-thin: 0.25rem;
    --space-1: 0.5rem;
    --space-2: 0.75rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
    --space-6: 4rem;

    /* layout */
    --inline-padding-body: clamp(1rem, 6vw, 4rem);
    --logo-width: clamp(5rem, 8vw, 6rem);
    --img-size-full: 100%;
    --img-size-mid: 60%;
    --img-size-small: 40%;

    /* font */

    --main-font:
        system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* others */
    --font-size-small: 0.85rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.7rem;
    --font-size-xlarge: 2rem;
    --font-size-xxlarge: 2.5rem;

    --border-radius-small: 0.25rem;
    --border-radius-mid: 0.3rem;
    --border-radius-inf: 9999px;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--main-font);
    padding-inline: var(--inline-padding-body);
}

button {
    padding: var(--space-1) var(--space-2);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius-inf);
    background-color: transparent;
    color: inherit;

    &:hover {
        cursor: pointer;
    }
}

/* --- css/navbar.css --- */

nav {
    padding-inline: unset;
    background-color: var(--color-bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--space-3);
    gap: var(--space-6);
    position: sticky;
    top: 0;
    z-index: 1000;

    & .logo {
        width: var(--logo-width);
        height: auto;
    }

    & .nav-links {
        margin-left: var(--space-6);
        margin-right: var(--space-3);
        display: flex;
        align-items: center;
        gap: var(--space-5);
        & a {
            color: var(--color-text-primary);
            text-decoration: none;
            font-weight: var(--font-weight-light);
            font-size: var(--font-size-small);

            &:hover {
                color: var(--color-text-tertiary);
            }
        }
    }

    & .nav-buttons {
        display: flex;
        align-items: center;
        gap: var(--space-1);

        & .sign-in {
            background-color: var(--color-bg-primary);
            padding-inline: var(--space-2);
            padding-block: var(--space-1);

            &:hover {
                background-color: var(--color-bg-secondary);
            }
        }

        & .download {
            color: var(--color-bg-primary);
            background-color: var(--color-text-primary);
            padding-inline: var(--space-3);
            padding-block: var(--space-1);
            &:hover {
                background-color: var(--color-text-tertiary);
            }
        }
    }
}

/* --- css/hero.css --- */

.hero {
    padding-block: var(--space-6) var(--space-3);

    & .heading {
        margin-top: var(--space-5);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-light);
    }

    & .cta-download {
        display: flex;
        align-items: center;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-thin);
        margin-top: var(--space-3);
        color: var(--color-bg-primary);
        background-color: var(--color-text-primary);
        padding-inline: var(--space-4);
        padding-block: var(--space-2);
        &:hover {
            background-color: var(--color-text-tertiary);
        }
    }

    & .main-img {
        margin-top: var(--space-6);
        max-width: var(--img-size-full);
        height: auto;
        border-radius: var(--border-radius-small);
    }
}

/* --- css/clients.css --- */

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-6);
    padding-bottom: var(--space-5);
    padding-inline: unset;

    & .statement {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-thin);
    }

    & .cards {
        margin-top: var(--space-3);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        gap: var(--space-1);

        & .logoCard {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-border-secondary);
            border-radius: var(--border-radius-small);
            padding-block: calc(var(--space-4) + var(--space-thin));
            padding-inline: var(--space-5);
            background-color: var(--color-bg-secondary);
            min-height: calc(var(--space-5) + var(--space-1));

            & .logo {
                height: calc(var(--space-5) + 0.25rem);
                width: auto;
                max-width: 160%;
            }
        }
    }
}

/* --- css/demo.css --- */

.demo {
    margin-top: var(--space-6);
    display: flex;
    flex-direction: column;
    gap: var(--space-6);

    & .section {
        border-radius: var(--border-radius-mid);
        background-color: var(--color-bg-secondary);
        display: flex;
        flex-direction: row-reverse;
        & .explanation {
            width: var(--img-size-small);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-inline: var(--space-3);
            gap: 0px;

            & h3 {
                padding-block: 0px;
                margin: unset;
                font-weight: var(--font-weight-light);
                font-size: var(--font-size-large);
            }

            & p {
                padding-inline-start: 0px;
                margin-top: var(--space-thin);
                font-size: calc(var(--space-3) + var(--space-thin));
                font-weight: 200;
                color: var(--color-text-faint);
            }

            & a {
                padding-inline-start: 0px;
                color: var(--color-anchor);
            }
        }
    }

    & .section2 {
        flex-direction: row;
    }

    & img {
        width: var(--img-size-mid);
        margin-block: var(--space-3);
        margin-inline: var(--space-2);
        border-radius: var(--border-radius-mid);
    }
}

/* --- css/testimonials.css --- */
.testimonial-statement {
    margin-top: calc(var(--space-6) + var(--space-6));
    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-light);
    text-align: center;
}

.testimonials {
    margin-top: var(--space-6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: var(--space-2);

    & .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--space-4);

        background-color: var(--color-bg-secondary);
        border-color: var(--color-border-primary);
        padding-inline: var(--space-2);
        padding-block: var(--space-2);
        border-radius: var(--border-radius-mid);
        border-width: var(--space-2);

        & .quote {
            font-weight: var(--font-weight-light);
            line-height: 25px;
            font-size: 1rem;
        }

        & .reviewer {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: var(--space-3);
            padding-block: var(--space-1);

            & .name {
                display: flex;
                flex-direction: column;

                & h6 {
                    font-size: 1rem;
                    font-weight: var(--font-weight-light);
                }

                & p {
                    padding-top: var(--space-thin);
                    font-size: 0.8rem;
                    font-weight: var(--font-weight-light);
                    color: var(--color-text-faint);
                }
            }

            & img {
                width: 40px;
                height: auto;
                margin-inline: var(--space-2);
                border-radius: var(--border-radius-mid);
            }
        }
    }
}
/* --- css/changelog.css --- */

/* --- css/endcta.css --- */

/* --- css/footer.css --- */

/* --- css/frontier.css --- */

/* --- css/joinus.css --- */

/* --- css/recents.css --- */
