* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --color-bg-primary: #14120b;
    --color-bg-secondary: #1b1912;
    --color-bg-tertiary: #201e18;
    --color-text-primary: #ececec;
    --color-text-secondary: #13120a;
    --color-text-tertiary: #d7d6d5;
    --color-text-faint: #999894;
    --color-border-primary: #34332c;
    --color-border-secondary: #211e18;
    --color-border-tertiary: #25231d;
    --color-anchor: #f54e00;
    --color-anchor-secondary: #bd400a;

    /* spacing */
    --space-thin: 0.25rem;
    --space-1: 0.5rem;
    --space-2: 0.75rem;
    --space-3: 1rem;
    --space-4: 1.5rem;
    --space-5: 2rem;
    --space-6: 4rem;

    /* layout */
    --inline-padding-body: clamp(1rem, 6vw, 4rem);
    --logo-width: clamp(5rem, 8vw, 6rem);
    --img-size-full: 100%;
    --img-size-mid: 60%;
    --img-size-small: 40%;

    /* font */

    --main-font:
        system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* others */
    --font-size-small: 0.85rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.7rem;
    --font-size-xlarge: 2rem;
    --font-size-xxlarge: 2.5rem;

    --border-radius-small: 0.25rem;
    --border-radius-mid: 0.3rem;
    --border-radius-inf: 9999px;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: var(--main-font);
    padding-inline: var(--inline-padding-body);
}

button {
    padding: var(--space-1) var(--space-2);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius-inf);
    background-color: transparent;
    color: inherit;

    &:hover {
        cursor: pointer;
    }
}

.link {
    font-family: var(--main-font);
    color: var(--color-anchor);
    text-decoration: none;
    padding: var(--space-1);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-medium);

    &:hover {
        color: var(--color-anchor-secondary);
        cursor: pointer;
    }
}
/* --- css/navbar.css --- */

nav {
    margin-inline: calc(var(--inline-padding-body) * -1);
    padding-inline: var(--inline-padding-body);
    background-color: var(--color-bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--space-3);
    gap: var(--space-6);
    position: sticky;
    top: 0;
    z-index: 1000;

    & .logo {
        width: var(--logo-width);
        height: auto;
    }

    & .nav-links {
        margin-left: var(--space-6);
        margin-right: var(--space-3);
        display: flex;
        align-items: center;
        gap: var(--space-5);
        & a {
            color: var(--color-text-primary);
            text-decoration: none;
            font-weight: var(--font-weight-light);
            font-size: var(--font-size-small);

            &:hover {
                color: var(--color-text-tertiary);
            }
        }
    }

    & .nav-buttons {
        display: flex;
        align-items: center;
        gap: var(--space-1);

        & .sign-in {
            background-color: var(--color-bg-primary);
            padding-inline: var(--space-2);
            padding-block: var(--space-1);

            &:hover {
                background-color: var(--color-bg-secondary);
            }
        }

        & .download {
            color: var(--color-bg-primary);
            background-color: var(--color-text-primary);
            padding-inline: var(--space-3);
            padding-block: var(--space-1);
            &:hover {
                background-color: var(--color-text-tertiary);
            }
        }
    }
}

/* --- css/hero.css --- */

.hero {
    padding-block: var(--space-6) var(--space-3);

    & .heading {
        margin-top: var(--space-5);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-light);
    }

    & .cta-download {
        display: flex;
        align-items: center;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-thin);
        margin-top: var(--space-3);
        color: var(--color-bg-primary);
        background-color: var(--color-text-primary);
        padding-inline: var(--space-4);
        padding-block: var(--space-2);
        &:hover {
            background-color: var(--color-text-tertiary);
        }
    }

    & .main-img {
        margin-top: var(--space-6);
        max-width: var(--img-size-full);
        height: auto;
        border-radius: var(--border-radius-small);
    }
}

/* --- css/clients.css --- */

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-6);
    padding-bottom: var(--space-5);
    padding-inline: unset;

    & .statement {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-thin);
    }

    & .cards {
        margin-top: var(--space-3);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        gap: var(--space-1);

        & .logoCard {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-border-secondary);
            border-radius: var(--border-radius-small);
            padding-block: calc(var(--space-4) + var(--space-thin));
            padding-inline: var(--space-5);
            background-color: var(--color-bg-secondary);
            min-height: calc(var(--space-5) + var(--space-1));

            & .logo {
                height: calc(var(--space-5) + 0.25rem);
                width: auto;
                max-width: 160%;
            }
        }
    }
}

/* --- css/demo.css --- */

.demo {
    margin-top: var(--space-6);
    display: flex;
    flex-direction: column;
    gap: var(--space-6);

    & .section {
        border-radius: var(--border-radius-mid);
        background-color: var(--color-bg-secondary);
        border: 1px solid var(--color-border-secondary);
        display: flex;
        flex-direction: row-reverse;
        & .explanation {
            width: var(--img-size-small);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-inline: var(--space-3);
            gap: 0px;

            & h3 {
                padding-block: 0px;
                margin: unset;
                font-weight: var(--font-weight-light);
                font-size: var(--font-size-large);
            }

            & p {
                padding-inline-start: 0px;
                margin-top: var(--space-thin);
                font-size: calc(var(--space-3) + var(--space-thin));
                font-weight: 200;
                color: var(--color-text-faint);
            }

            & a {
                padding-inline-start: 0px;
                color: var(--color-anchor);
            }
        }
    }

    & .section2 {
        flex-direction: row;
    }

    & img {
        width: var(--img-size-mid);
        margin-block: var(--space-3);
        margin-inline: var(--space-2);
        border-radius: var(--border-radius-mid);
    }
}

/* --- css/testimonials.css --- */
.testimonial-statement {
    margin-top: calc(var(--space-6) + var(--space-6));
    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-light);
    text-align: center;
}

.testimonials {
    margin-top: var(--space-6);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: var(--space-2);

    & .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--space-4);

        background-color: var(--color-bg-secondary);
        border-width: 1px;
        border-style: solid;
        border-color: var(--color-border-secondary);
        padding-inline: var(--space-2);
        padding-block: var(--space-2);
        border-radius: var(--border-radius-mid);

        & .quote {
            font-weight: var(--font-weight-light);
            line-height: 25px;
            font-size: 1rem;
        }

        & .reviewer {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: var(--space-3);
            padding-block: var(--space-1);

            & .name {
                display: flex;
                flex-direction: column;

                & h6 {
                    font-size: 1rem;
                    font-weight: var(--font-weight-light);
                }

                & p {
                    padding-top: var(--space-thin);
                    font-size: 0.8rem;
                    font-weight: var(--font-weight-light);
                    color: var(--color-text-faint);
                }
            }

            & img {
                width: 40px;
                height: auto;
                margin-inline: var(--space-2);
                border-radius: var(--border-radius-mid);
            }
        }
    }
}

/* --- css/frontier.css --- */

.frontier {
    margin-block: calc(var(--space-6) + var(--space-6));

    display: flex;
    flex-direction: column;

    & .frontier-statement {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-light);
        padding-block: var(--space-3);
    }

    & .cards {
        display: flex;
        gap: var(--space-1);

        & .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /*align-items: center;*/

            background-color: var(--color-bg-secondary);
            border: 1px solid var(--color-border-secondary);
            border-radius: var(--border-radius-mid);

            & .content {
                display: flex;
                flex-direction: column;
                padding-inline: calc(var(--space-3) + var(--space-thin));

                & h3 {
                    padding-block: var(--space-3) var(--space-1);
                    font-weight: var(--font-weight-light);
                    font-size: var(--font-size-medium);
                }

                & p {
                    color: var(--color-text-faint);
                }

                & a {
                    margin-top: var(--space-4);
                    color: var(--color-anchor);
                }
            }

            & .card-image {
                padding-inline: var(--space-3);
                padding-block: var(--space-2);
            }

            & .card-image > img {
                width: 28vw;
                height: auto;
                border-radius: var(--border-radius-mid);
            }
        }
    }
}

/* --- css/changelog.css --- */
.changelog {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-6);

    & .changelog-statement {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-light);
    }

    & .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--space-1);
        margin-block: var(--space-4);

        & .card {
            display: flex;
            flex-direction: column;
            background-color: var(--color-bg-secondary);
            padding-inline: var(--space-3);
            padding-block: var(--space-3);
            border-radius: var(--border-radius-small);
            border: 1px solid var(--color-border-secondary);

            & .version {
                display: flex;
                gap: var(--space-1);
                margin-bottom: var(--space-3);
            }
            & .pill {
                display: inline-block;
                padding: 0.1rem var(--space-2);
                border-radius: var(--border-radius-inf);
                border: 0.1rem solid;
                color: var(--color-text-faint);
                font-size: var(--font-size-small);
            }
            & .date {
                color: var(--color-text-faint);
            }
        }
    }
}

/* --- css/joinus.css --- */
.joinus {
    margin-top: var(--space-6);
    display: flex;
    align-items: center;
    background-color: var(--color-bg-secondary);
    padding-block: var(--space-3);
    padding-inline: var(--space-3);
    border-radius: var(--border-radius-mid);

    & .joinus-statement {
        font-size: var(--space-4);
        font-weight: var(--font-weight-light);
        padding-inline: var(--space-2);
        margin-bottom: var(--space-1);
    }

    & a {
        padding-inline-start: var(--space-2);
    }

    & img {
        width: 65vw;
        height: auto;
        border-radius: var(--border-radius-small);
    }
}

/* --- css/highlights.css --- */
.highlights {
    margin-top: var(--space-6);
    padding-block: calc(var(--space-6) + var(--space-4));
    background-color: var(--color-bg-secondary);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-inline: calc(var(--inline-padding-body) * -1);
    padding-inline: var(--inline-padding-body);

    & .cards {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);

        & .card {
            display: flex;
            flex-direction: column;
            padding: var(--space-4);
            background-color: var(--color-bg-tertiary);
            border: 1px solid var(--color-border-secondary);
            border-radius: var(--border-radius-mid);

            & p:first-of-type {
                font-size: var(--font-size-medium);
                color: var(--color-text-primary);
            }

            & p:nth-of-type(2) {
                font-size: var(--font-size-medium);
                color: var(--color-text-faint);
                margin-top: var(--space-2);
            }

            & p:last-of-type {
                font-size: var(--font-size-small);
                color: var(--color-text-faint);
                margin-top: auto;
                padding-top: var(--space-4);
            }
        }
    }
}

/* --- css/endcta.css --- */
.endcta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: calc(var(--space-6) + var(--space-6));
    margin-inline: calc(var(--inline-padding-body) * -1);
    padding-inline: var(--inline-padding-body);
    background-color: var(--color-bg-primary);
    gap: var(--space-5);

    & .heading p {
        font-size: 4rem;
        font-weight: var(--font-weight-light);
        text-align: center;
    }

    & .action .cta-download {
        display: flex;
        align-items: center;
        gap: var(--space-2);
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-thin);
        color: var(--color-bg-primary);
        background-color: var(--color-text-primary);
        padding-inline: var(--space-4);
        padding-block: var(--space-2);
        border: none;
        border-radius: var(--border-radius-inf);
        cursor: pointer;

        &:hover {
            background-color: var(--color-text-tertiary);
        }
    }
}

/* --- css/footer.css --- */
.footer {
    margin-inline: calc(var(--inline-padding-body) * -1);
    padding-inline: var(--inline-padding-body);
    padding-block: calc(var(--space-6) + var(--space-2)) var(--space-4);
    background-color: var(--color-bg-secondary);
    border-top: 1px solid var(--color-border-secondary);

    & .footer-links {
        display: flex;
        justify-content: space-between;
        gap: var(--space-6);
        flex-wrap: wrap;
    }

    & .footer-column {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        min-width: 9rem;

        & h4 {
            font-size: calc(var(--font-size-small) + 0.15rem);
            font-weight: var(--font-weight-normal);
            color: var(--color-text-faint);
            margin-bottom: var(--space-1);
        }

        & a {
            color: var(--color-text-primary);
            text-decoration: none;
            font-size: var(--font-size-medium);
            font-weight: var(--font-weight-light);

            &:hover {
                color: var(--color-text-tertiary);
            }
        }
    }

    & .footer-meta {
        margin-top: calc(var(--space-6) + var(--space-4));
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--space-3);
        flex-wrap: wrap;
    }

    & .footer-meta-left {
        display: flex;
        align-items: center;
        gap: var(--space-4);

        & p {
            font-size: calc(var(--font-size-small) + 0.05rem);
            color: var(--color-text-faint);
        }
    }

    & .footer-meta-right {
        display: flex;
        align-items: center;
        gap: var(--space-2);
    }

    & .theme-controls {
        display: flex;
        align-items: center;
        gap: var(--space-thin);
        border: 1px solid var(--color-border-primary);
        background-color: var(--color-bg-tertiary);
        padding: var(--space-thin);
        border-radius: var(--border-radius-inf);

        & button {
            border: none;
            background-color: transparent;
            color: var(--color-text-faint);
            padding-inline: calc(var(--space-2) - 0.1rem);
            padding-block: calc(var(--space-1) + 0.1rem);
            line-height: 0;

            &:hover {
                background-color: var(--color-bg-secondary);
                color: var(--color-text-primary);
            }
        }

        & .theme-btn {
            border-radius: var(--border-radius-inf);
        }

        & .theme-btn.active {
            background-color: var(--color-border-primary);
            color: var(--color-text-primary);
        }
    }

    & .language {
        background-color: var(--color-bg-tertiary);
        color: var(--color-text-primary);
        border-color: var(--color-border-primary);
        font-size: calc(var(--font-size-small) + 0.05rem);
        padding-inline: var(--space-3);
    }
}
