.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: var(--space-5);
    padding-inline: unset;

    & .statement {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-thin);
    }

    & .cards {
        margin-top: var(--space-3);
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        gap: var(--space-1);

        & .logoCard {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-border-secondary);
            border-radius: var(--border-radius-small);
            padding-block: calc(var(--space-4) + var(--space-thin));
            padding-inline: var(--space-5);
            background-color: var(--color-bg-secondary);
            min-height: calc(var(--space-5) + var(--space-1));

            & .logo {
                height: calc(var(--space-5) + 0.25rem);
                width: auto;
                max-width: 160%;
            }
        }
    }
}
