.hero {
    padding-block: var(--space-6) var(--space-3);

    & .heading {
        margin-top: var(--space-5);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-light);
    }

    & .cta-download {
        display: flex;
        align-items: center;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-thin);
        margin-top: var(--space-3);
        color: var(--color-bg-primary);
        background-color: var(--color-text-primary);
        padding-inline: var(--space-4);
        padding-block: var(--space-2);
        &:hover {
            background-color: var(--color-text-tertiary);
        }
    }

    & .main-img {
        margin-top: var(--space-6);
        max-width: var(--img-size-full);
        height: auto;
        border-radius: var(--border-radius-small);
    }
}
