nav {
    padding-inline: unset;
    background-color: var(--color-bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--space-3);
    gap: var(--space-6);
    position: sticky;
    top: 0;
    z-index: 1000;

    & .logo {
        width: var(--logo-width);
        height: auto;
    }

    & .nav-links {
        margin-left: var(--space-6);
        margin-right: var(--space-3);
        display: flex;
        align-items: center;
        gap: var(--space-5);
        & a {
            color: var(--color-text-primary);
            text-decoration: none;
            font-weight: var(--font-weight-light);
            font-size: var(--font-size-small);

            &:hover {
                color: var(--color-text-tertiary);
            }
        }
    }

    & .nav-buttons {
        display: flex;
        align-items: center;
        gap: var(--space-1);

        & .sign-in {
            background-color: var(--color-bg-primary);
            padding-inline: var(--space-2);
            padding-block: var(--space-1);

            &:hover {
                background-color: var(--color-bg-secondary);
            }
        }

        & .download {
            color: var(--color-bg-primary);
            background-color: var(--color-text-primary);
            padding-inline: var(--space-3);
            padding-block: var(--space-1);
            &:hover {
                background-color: var(--color-text-tertiary);
            }
        }
    }
}
